body {
  background-color: RGB(236,236,234)
  font-family: Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
  overflow: hidden;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}


@import "_partial/header";
@import "_partial/date"
