.date {
  margin: 1em auto;
  padding: 30px 50px;
  text-align:center;
}
h2 {
    font-size: 30px;
    color: rgb(253, 99, 125);
    }              
.timer {
        font-size: 30px;
        line-height: 1.5;
        margin: 1em 0;
        }
        
.timer b {
        color: rgb(253, 99, 125);
        }

